<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1">RENTSOFT</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#" onclick='contraer(event);'>
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"> 
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0 float-right">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Estadisticas</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-dolly-flatbed"></i>
          <span >Alquiler</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" [routerLink]='"CAlquiler"' ><i class="fas fa-fw fa-search"></i>Consultar</a>
          <a class="dropdown-item" [routerLink]='"CotAlquiler"'> <i class="fas fa-fw fa-dollar-sign"></i>Cotizar</a>
          <a class="dropdown-item" [routerLink]='"DesAlquiler"'><i  class="fas fa-fw fa-dolly"></i>Despachar</a>
          <a class="dropdown-item" [routerLink]='"DevAlquiler"'><i class="fas fa-fw fa-truck-loading"></i>Devolver</a>
          <a class="dropdown-item" [routerLink]='"LiqAlquiler"'><i class="fas fa-fw fa-money-check-alt"></i>Liquidar</a>
        </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-users"></i>
            <span >Clientes</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" [routerLink]='"CCliente"'><i class="fas fa-fw fa-search"></i>Consultar</a>
            <a class="dropdown-item" [routerLink]='"Sucursales"' > <i class="fas fa-fw fa-building"></i>Sucursales</a>
            <a class="dropdown-item" [routerLink]='"Contactos"'> <i class="fas fa-fw fa-user-tie"></i>Contactos</a>            
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-fw fa-cubes"></i>
              <span >Inventario</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <a class="dropdown-item" [routerLink]='"Serializados"'><i class="fas fa-fw fa-barcode"></i>Elementos con serial</a>
              <a class="dropdown-item" [routerLink]='"NoSerializados"'><i class="fas fa-fw fa-tools"></i>Elementos sin serial</a>
              <a class="dropdown-item" [routerLink]='"Bodegas"'> <i class="fas fa-fw fa-hospital-alt"></i>Bodegas</a>
              <a class="dropdown-item" [routerLink]='"Administracion"'> <i class="fas fa-fw fa-chalkboard-teacher"></i>Administraci&oacute;n</a>     
              <a class="dropdown-item" [routerLink]='"Sedes"'><i class="fas fa-fw fa-home"></i>Sedes</a>       
            </div>
          </li>
   
    </ul>
    <div id="content-wrapper">
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>

    </div>
  

  </div>